@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-primaryBg font-primaryFont text-secondaryBg;
  }
}

.flexCenter {
  @apply flex items-center justify-center;
}

.socialsUL a ion-icon {
  @apply lg:transition lg:duration-300 lg:ease-in-out lg:hover:-translate-y-1;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(16, 16, 14, 0.4);
  border-radius: 4px;
}

.borderGuide {
  border: 1px solid red;
}
