.square {
  height: 50px;
  width: 50px;

  margin-left: 300px;
  position: -webkit-sticky; /* For Safari */
}

.greeting {
  top: 60%;
  left: 35.5%;
}

.hero-img {
  top: 30%;
  left: 37.8%;
  box-shadow: 0 0px 20px -8px rgba(0, 0, 0, 0.7);
}

.centerLine {
  top: 60%;
}

.introduction {
  top: 58.5%;
  left: 50.5%;
  width: 350px;
}

.description {
  top: 61.5%;
  left: 50.5%;
  line-height: 16px;
}

.scrollTxt {
  opacity: 30%;
  top: 87%;
}

.cornerLine {
  top: 85%;
  left: 3%;
}

.copyright {
  top: 94.6%;
  margin-left: 3.7%;
}

.socials {
  top: 66%;
  margin-left: 2.2%;
}

.socials a ion-icon:hover,
button ion-icon:hover {
  @apply text-dimBlack;

  animation: buzz 150ms infinite;
}

@keyframes buzz {
  0%,
  20% {
    @apply rotate-6;
  }
  40%,
  60% {
    @apply -rotate-6;
  }
  100% {
    @apply rotate-0;
  }
}

.bgSection {
  padding: 0 650px;
}

.card {
  width: 700px;
  height: 300px;

  background: #ffffe3;
}

.card:hover {
  box-shadow: 0px 0px 20px 0px rgba(26, 26, 26, 0.25);
  border: 1px solid rgba(26, 26, 26, 0.25);
}

.card__img img {
  box-shadow: 4px 4px 4px 0px rgba(26, 26, 26, 0.25);
}

.cardIcon ion-icon:hover {
  @apply text-dimBlack;
}

.pFooter a {
  @apply font-bold;
}

.pFooter a:hover {
  @apply text-secondaryBg underline;
}
