.xdiv {
  border-top: 2px solid #464a4e;
  width: 100px;
}

.dynamicNames {
  overflow: hidden;
  height: 28px;
}

.username {
  animation: move 4s infinite;
}

@keyframes move {
  20%,
  80% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-28px);
  }
}

@media (min-width: 1024px) {
  @keyframes move {
    20%,
    80% {
      transform: translateY(0);
    }
    40%,
    60% {
      transform: translateY(-32px);
    }
  }
}

.card {
  border: 2px solid rgba(26, 26, 26, 0.25);
  @apply lg:h-80;
}

.card:hover {
  box-shadow: 0px 0px 20px 0px rgba(26, 26, 26, 0.25);
}

.cardIcon ion-icon:hover {
  @apply text-dimBlack;
}

.pFooter a {
  @apply font-bold;
}

.pFooter a:hover {
  @apply text-secondaryBg underline;
}

.hiddenElem {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(80%);
  transition: all 0.5s;
}

.showElem {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
